body,html{
	height:100%;
	padding:0px;
	margin:0px;
	}
body{
	background:url(../img/fondo.jpg) no-repeat fixed center;
	background-size:cover;
	}
#divCentral{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:20%;
	}
#divCentral img{
	height:100%;
	}
#indicadores{
	position:fixed;
	top:0px;
	left:0px;
	height:80%;
	width:25%;
	}
#velocidad{
	top:20%;
	width:90%;
	height:15%;
	left:10%;
	position:absolute;
	}
#velocidad img{
	height:100%;
	max-width:100%;
	}
#aguja{
	position:absolute;
	top:6%;
	left:42%;
	height:26%;
	}
#aguja img{
	height:100%;
	transform: rotate(43deg);
	}
#fuel{
	width:90%;
	height:15%;
	position:absolute;
	left:10%;
	top:3%;
	}
#fuel img{
	height:100%;
	width:100%;
	}
#fondoFuel{
	height:100%;
	max-width:100%;
	width:65%;
	bottom:0px;
	position:absolute;
	background-color:rgb(225, 75, 0);
	z-index:-1;
	}
#altura{
	width:60%;
	height:60%;
	position:absolute;
	left:25%;
	top:38%;
	}
#altura img{
	height:100%;
	width:100%;
	}
#fondoAltura{
	height:2%;
	max-height:2%;
	width:100%;
	bottom:44%;
	position:absolute;
	background-color:rgb(225, 75, 0);
	z-index:-1;
	}
#botones{
	position:fixed;
	top:0px;
	right:0px;
	height:80%;
	width:30%;
	}
#botMenu{
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	}
#botRestart{
	position:absolute;
	top:40%;
	right:15%;
	width:70%;
	}
#menu{
	position:fixed;
	top:20%;
	left:5%;
	height:80%;
	width:90%;
	z-index:1;
	display:none;
	}
#menu img{
	width:100%;
	height:100%;
	}
ul{
	position:relative;
	top:-75%;
	left:5%;
	height:80%;
	width:90%;
	list-style-type: none;
    margin: 0;
    padding: 0;
	}
ul li{
	text-align:center;
	background-color:rgb(0, 167, 208);
	padding:3%;
	margin:3%;
	font-family:"Times New Roman";
	font-size:265%;
	height:15%;
	}
.dificultad{
	width:38%;
	float:left;
	margin-top:0;
	}
a:link, a:visited{
	text-decoration:none;
	color:black;
	}
a:hover:not(.active){
	text-decoration:none;
	color:white;
	}
#luna{
	position:fixed;
	height:20%;
	width:100%;
	bottom:0px;
	}
#luna img{
	width:100%;
	height:100%;
	}
#texto{
	position:fixed;
	top:12%;
	left:5%;
	height:75%;
	width:70%;
	}
p{
	color:white;
	}
h1{
	color:white;
	text-align: center;
	}
#enlaceRetorno{
	color:white;
	font-size: 150%;
	border: 2px solid rgb(0, 167, 208);
	border-radius: 5px;
	padding: 8%;
	}
#velD, #aguja, #fuelD, #menuD{
	display:none;
	}